  BasedOnStyle: Google
  ColumnLimit: 80
  IndentWidth: 2
  BreakBeforeBraces: Attach
  DerivePointerAlignment: false
  PointerAlignment: Left
  AllowShortFunctionsOnASingleLine: Inline
  IncludeBlocks: Preserve
  BinPackParameters: false
