# MuJoCo Playground & Reinforcement Learning Dependencies
absl-py
brax>=0.14.2
etils
flax
h5py
jax[cuda12]
jaxlib
lxml
matplotlib
mediapy
ml_collections
mujoco>=3.2.0
mujoco-mjx>=3.2.0
numpy
onnx
optax
orbax-checkpoint>=0.11.22
playground
scipy
tqdm
warp-lang>=1.16.0
